<% provide(:title, "Sobre") %>
  <h1>Sobre</h1>
  <p>Este site serve como serviço de apoio para a página <a href="https://www.facebook.com/CombateCancer">Combate ao Câncer</a>, do Facebook. Sua criação provêm de um projeto para uma disciplina de computação (MAC0218), ministrada no Instituto de Matemática e Estatística da USP (<a href="https://bcc.ime.usp.br/catalogo2017/disciplinas/MAC0218.html">sobre a disciplina</a>).<br />
A página Combate ao Câncer é atualmente a maior página da América Latina que trata da divulgação de informações gerais e novidades acerca do câncer.<br /><br />
Nosso objetivo é criar um ambiente de apoio e distribuição de informações para pacientes de câncer. Usuários cadastrados podem, além de compartilhar depoimentos contando sobre suas experiências vividas com o câncer, realizar um cadastro contendo o tipo sanguíneo e tipo de câncer do paciente a ser cadastrado, de modo a facilitar a busca por doação de medula óssea. A partir disso, essas informações podem ser repassadas e divulgadas por meio da página do Combate ao Câncer, aumentando ainda mais o escopo de divulgação para pacientes necessitados.<br />
