<% provide(:title, "Contato") %>
  <h1>Contato</h1>
  <h3>Combate ao Câncer</h3>
    <p><a href="https://www.facebook.com/pg/CombateCancer">Facebook</a> | <a href="http://instagram.com/combatecancer">Instagram</a> | <a href="http://bit.ly/ytbcombate">YouTube</a></p>
  <h3>Desenvolvedores (GitHub)</h3>
    <p><a href="http://github.com/ikedawalk">@ikedawalk</a> (Leonardo Ikeda)<br />
    <a href="http://github.com/marceloschmitt1">@marceloschmitt1</a> (Marcelo Schmitt)<br />
    <a href="http://github.com/MattConce">@MattConce</a> (Matheus Conceição)<br />
    </p>
