<% provide(:title, "Ajuda") %>
<h1>Ajuda</h1>
  <h3>Dúvidas frequentes</h3>

  <br/>

    <h4>O que é câncer?</h4>
    	
		<p>
		Câncer é um grupo de doenças que se caracterizam pela perda do controle da divisão celular e pela capacidade de invadir outras estruturas orgânicas.
		</p>

	<h4>O que causa o câncer?</h4>

		<p>	
		O câncer pode ser causado por fatores externos (substâncias químicas, irradiação e vírus) e internos (hormônios, condições imunológicas e mutações genéticas). Os fatores causais podem agir em conjunto ou em seqüência para iniciar ou promover o processo de carcinogênese. Em geral, dez ou mais anos se passam entre exposições ou mutações e a detecção do câncer.
		</p>

	<h4>Câncer pode dar em qualquer parte do corpo?</h4>
		<p>
		Em princípio sim. O câncer atinge vários órgãos. Por exemplo, os mais comuns são encontrados na bexiga, mama, ovário, pulmão, cólon e reto, esôfago, estômago, endométrio (útero), rim, sangue (leucemia), pele, sistema linfático (melanoma), pâncreas (linfomas), próstata, tireoide, retina (do olho), ossos e cérebro. No entanto, alguns são mais frequentes que outros.
		No Brasil, as estimativas para 2015 indicam maior incidência de câncer de pele não melanoma, próstata, mama, colorretal e pulmão.
		</p>

	<h4>O que é preciso fazer para ser voluntário no cadastro de doação de medula óssea?</h4>
		<p>
		Para se cadastrar basta ter entre 18 e 55 anos e boa saúde. O candidato a doador deverá procurar o hemocentro mais próximo de sua residência, para esclarecer dúvidas a respeito do processo de cadastramento e de doação. Se quiser ser cadastrado como candidato a doador, será feita a coleta de uma amostra de sangue (5 a 10 ml) para a tipagem de HLA (características genéticas importantes para a seleção de um doador). Os dados são inseridos no cadastro do Redome (Registro Nacional de Doadores de Medula Óssea) e, sempre que surgir um novo paciente, a compatibilidade será verificada. Em casos afirmativos, o candidato cadastrado é consultado sobre sua decisão quanto à continuidade dos procedimentos do transplante.
		</p>
