<% provide(:title, "Ajuda") %>
<h1>Ajuda</h1>
  <h3>Dúvidas frequentes</h3>

  <br/>

    <h4>O que é câncer?</h4>
    	
		<p>
		Câncer é um grupo de doenças que se caracterizam pela perda do controle da divisão celular e pela capacidade de invadir outras estruturas orgânicas.
		</p>

	<h4>O que causa o câncer?</h4>

		<p>	
		O câncer pode ser causado por fatores externos (substâncias químicas, irradiação e vírus) e internos (hormônios, condições imunológicas e mutações genéticas). Os fatores causais podem agir em conjunto ou em seqüência para iniciar ou promover o processo de carcinogênese. Em geral, dez ou mais anos se passam entre exposições ou mutações e a detecção do câncer.
		</p>
