<% provide(:title, "Home") %>
<div class="center jumbotron jumbotron-fluid">
  <h1 class="display-3"> Apoio Combate ao Câncer</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
  <%= link_to "Cadastre-se", signup_path, class: "btn btn-lg btn-primary"%>
</div>
