
  .container {
    width:100%;
    border:1px solid gray;
  }

  ul.menu {
    list-style-type:none;
    margin: 0;
    padding:  0;
    overflow: hidden;
    clear: left;
    background-color: #333333
  }
  li.nav {
    float:left;
  }
  li.nav a {
    display:block;
    color:white;
    text-aling:center;
    font-size: 100%;
    font-family:sans-serif;
    padding: 15px 17px;
    text-decoration:none;
  }
  li a.hover {
    background-color:#111111;
  }
  header {
    padding: 1em;
    color:#4B0082;
    font-size:300%;
    clear: left;
    background-color:Crimson;
  }
  body {background-color:white;}
